/DependencyInjectionExample/obj/Debug/DependencyInjectionExample.csproj.CoreCompileInputs.cache
/DependencyInjectionExample/obj/Debug/DependencyInjectionExample.csproj.FileListAbsolute.txt
/DependencyInjectionExample/obj/Debug/DependencyInjectionExample.exe
/DependencyInjectionExample/obj/Debug/DependencyInjectionExample.pdb
/.idea/.idea.DependencyInjectionExample/.idea/vcs.xml
